apiVersion: apps/v1
kind: Deployment
metadata:
  name: open-webui
spec:
  template:
    spec:
      containers:
        - name: open-webui
          # Can override resources, env vars, etc here if needed
