apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: homeassistant-config-ceph
  labels:
    app: homeassistant
  annotations:
    # If you're using Argo CD, this prevents the PVC from being pruned (deleted)
    # even if it is temporarily removed/renamed in git.
    argocd.argoproj.io/sync-options: Prune=false
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: ceph-rbd
  resources:
    requests:
      storage: 60Gi