apiVersion: apps/v1
kind: Deployment
metadata:
  name: openvpn
spec:
  replicas: 1
  selector:
    matchLabels:
      app: openvpn
  template:
    metadata:
      labels:
        app: openvpn
    spec:
      containers:
        - name: openvpn
          image: openwisp/openwisp-openvpn:latest
          imagePullPolicy: IfNotPresent
          envFrom:
            - configMapRef:
                name: openwisp-env
            - secretRef:
                name: openwisp-secrets
          securityContext:
            capabilities:
              add: ["NET_ADMIN"]
          volumeMounts:
            - name: tun
              mountPath: /dev/net/tun
          ports:
            - containerPort: 1194
              name: openvpn
              protocol: UDP
      volumes:
        - name: tun
          hostPath:
            path: /dev/net/tun
            type: CharDevice
