apiVersion: apps/v1
kind: Deployment
metadata:
  name: celerybeat
spec:
  replicas: 1
  selector:
    matchLabels:
      app: celerybeat
  template:
    metadata:
      labels:
        app: celerybeat
    spec:
      containers:
        - name: celerybeat
          image: openwisp/openwisp-dashboard:latest
          imagePullPolicy: IfNotPresent
          envFrom:
            - configMapRef:
                name: openwisp-env
            - secretRef:
                name: openwisp-secrets
          env:
            - name: MODULE_NAME
              value: "celerybeat"
