apiVersion: apps/v1
kind: Deployment
metadata:
  name: influxdb
spec:
  replicas: 1
  selector:
    matchLabels:
      app: influxdb
  template:
    metadata:
      labels:
        app: influxdb
    spec:
      containers:
        - name: influxdb
          image: influxdb:1.8-alpine
          imagePullPolicy: IfNotPresent
          env:
            - name: INFLUXDB_DB
              valueFrom:
                configMapKeyRef:
                  name: openwisp-env
                  key: INFLUXDB_NAME
            - name: INFLUXDB_USER
              valueFrom:
                secretKeyRef:
                  name: openwisp-secrets
                  key: INFLUXDB_USER
            - name: INFLUXDB_USER_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: openwisp-secrets
                  key: INFLUXDB_PASS
          ports:
            - containerPort: 8086
              name: http
          volumeMounts:
            - name: data
              mountPath: /var/lib/influxdb
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: influxdb-data
