
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: esphome-config
  labels:
    app: esphome
spec:
  accessModes: [ ReadWriteOnce ]
  storageClassName: ceph-rbd
  resources:
    requests:
      storage: 10Gi
