apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodered
  namespace: home-automation
  labels:
    app: nodered
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nodered
  template:
    metadata:
      labels:
        app: nodered
    spec:
      dnsConfig:
        options:
          - name: single-request-reopen
          - name: ndots
            value: "1"
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
      initContainers:
        - name: install-meshctrl
          image: node:20-alpine
          env:
            - name: NODE_OPTIONS
              value: "--dns-result-order=ipv4first"
          command: ["sh","-lc"]
          args:
            - |
              set -e
              cd /data
              if [ ! -f package.json ]; then npm init -y >/dev/null; fi
              echo "npm installing meshcentral to get meshctrl..."
              npm install --no-fund --no-audit meshcentral
              echo "Test..."
              ls -la /data/node_modules/meshcentral | head -n 50
              ls -la /data/node_modules/.bin | grep -i mesh || true
              node /data/node_modules/meshcentral/meshctrl.js help >/dev/null
          volumeMounts:
            - name: nodered-data
              mountPath: /data
      containers:
        - name: nodered
          image: nodered/node-red:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 1880
              name: http
          env:
            - name: TZ
              value: "Europe/Stockholm"
          volumeMounts:
            - name: nodered-data
              mountPath: /data
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
      volumes:
        - name: nodered-data
          persistentVolumeClaim:
            claimName: nodered-data
