apiVersion: apps/v1
kind: Deployment
metadata:
  name: snmp-exporter
  namespace: monitoring
  labels:
    app: snmp-exporter
spec:
  replicas: 1
  selector:
    matchLabels:
      app: snmp-exporter
  template:
    metadata:
      labels:
        app: snmp-exporter
    spec:
      nodeSelector:
        kubernetes.io/hostname: k3s-worker-02
      containers:
        - name: snmp-exporter
          image: quay.io/prometheus/snmp-exporter:v0.25.0
          args:
            - --config.file=/etc/snmp_exporter/snmp.yml
          ports:
            - name: http
              containerPort: 9116
          volumeMounts:
            - name: config
              mountPath: /etc/snmp_exporter
              readOnly: true
      volumes:
        - name: config
          configMap:
            name: snmp-exporter-config
