apiVersion: v1
kind: Secret
metadata:
  name: alertmanager-kube-prometheus-stack-alertmanager
  namespace: monitoring
  labels:
    app.kubernetes.io/part-of: kube-prometheus-stack
    app.kubernetes.io/name: alertmanager
    release: kube-prometheus-stack
type: Opaque
stringData:
  alertmanager.yaml: |
    global:
      resolve_timeout: 5m

    route:
      receiver: telegram
      group_by: ['alertname','namespace']
      group_wait: 30s
      group_interval: 5m
      repeat_interval: 4h

    receivers:
      - name: telegram
        telegram_configs:
          - bot_token: '8565060282:AAE1WALNgES6_s1Lo-tbkDqFD2Q-naNB7vk'
            chat_id: 8043105925
            send_resolved: true
            parse_mode: 'HTML'
