apiVersion: apps/v1
kind: Deployment
metadata:
  name: litellm
spec:
  template:
    spec:
      containers:
        - name: litellm
          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: litellm-postgres
                  key: DATABASE_URL
